<div class="modal fade" id="usernamePrompt" tabindex="-1" role="dialog" aria-hidden="true">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Join Game</h5>
                </div>
                <div class="modal-body">
                    <div id="promptMsg" class="collapse alert alert-danger"></div>
                    <label>Enter a username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="modal-footer">
                    <a href="/" class="btn btn-outline-danger">Leave Game</a>
                    <button class="btn btn-success" id="usernamePromptSubmit">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>