<html>
    <% include partials/head %>
    <% include partials/roomcodeprompt %>
    <body>
        <div class="container pt-4">
            <h3>draw.ynjn.io</h3>
            <p>
                <a href="/new_room" class="btn btn-outline-success">Create a new game</a> or
                <button data-toggle="modal" data-target="#roomPrompt" class="btn btn-outline-primary">Join a game</button>
            </p>
        </div>

        <script>
            $("#roomPrompt").submit(function (e) {
                e.preventDefault();
                window.location.href = "/rooms/" + $("#roomPrompt input[name='code']").val();
            });
        </script>
    </body>
</html>
